 body {
     margin: 0;
 }

 /* header {
     padding: 10px;
     height: 100vh;
     background: url("/clinik-V2/images/background1.png") no-repeat;
     background-position: center;
     background-size: cover;
 } */
 .home-header {
     padding: 10px;
     height: 100vh;
     background: url("/clinik-V2/images/background1.png") no-repeat;
     background-position: center;
     background-size: cover;
 }
 .common_header {
    background: url("/clinik-V2/images/background1.png") no-repeat;
 }

 #main-one {
     display: flex;
     justify-content: space-around;
     align-items: center;


 }

 .nav {
     list-style-type: none;
     margin: 0;
     padding: 0;
     justify-self: center;
     width: 26%;
     display: flex;
     gap: 30px;


     /* border: 1px solid rebeccapurple; */
 }

 .nav li {
     display: inline-block;
     font-size: 15px;
     padding: 10px;

 }

 .nav li a {
     text-decoration: none;
     color: white;

 }

 input {
     background-color: transparent;
     border: none;
 }

 input:focus {
     border: none;
     outline: none;
 }

 .bnt-serach {
     background-color: transparent;
     border: 2px solid black;
     padding: 10px;
     border-radius: 100px;
     justify-content: space-between;

     display: flex;
 }

 .logo {
     position: flex;
     left: 0;
     top: 0;
     z-index: 1000;
 }

 .left-me {
     border: 2px solid #5ee088;
     width: 200px;
     margin-left: 130px;
     margin-top: 50px;
     text-align: center;
     color: white;
     border-radius: 10px 10px 0px 10px;
     background-color: #5ee088;
 }

 .med {
     color: white;
     margin-left: 130px;
 }

 .well {
     margin-left: 130px;
     color: white;
 }

 .back2 {
     position: relative;
     top: -24rem;
     right: -42rem;
     width: 31%;
 }

 .fas {
     border-radius: 50%;
     height: 25px;
     width: 25px;
     background-color: white;
 }

 .butt-on {
     background-color: #FF6F61;
     border-radius: 20px;
     color: white;
     display: flex;
     align-items: center;
     padding: 5px;
     margin-left: 130px;
     width: 100%;
     justify-content: end;
     gap: 15%;
     border: none;
     font-size: small;
 }

 .fleche {
     width: 20%;

 }

 .or {
     font-size: 16px;
     font-weight: 600;
     position: relative;
     left: 52px;
     top: 15px;
     color: white;

 }

 .book-c {
     background: transparent;
     border-radius: 20px;
     color: white;
     display: flex;
     align-items: center;
     padding: 5px;
     margin-left: 100px;
     width: 65%;
     text-align: center;
     justify-content: center;
     border: 1px solid white;

 }




 .test {

     display: flex;
     padding: 0px;
     width: 44%;

 }

 test>p {
     text-align: center;
 }

 .icon1 {
     list-style-type: none;
     margin: 0;
     padding: 0;
     justify-self: center;
     width: 26%;
     display: flex;
     gap: 30px;


     /* border: 1px solid rebeccapurple; */
 }

 .icon1 ul {
     display: flex;
     font-size: 15px;
     padding: 10px;
 }

 .remarque {
     display: flex;
 }

 .serv-ices {
     display: flex;
 }

 .serv-es {
     display: flex;
 }

 .doc-tor {
     display: flex;
 }

 .doc-or {
     display: flex;
 }

 .hours {
     display: flex;
     justify-content: center;
     width: 50%;
     gap: 5%;
 }

 #clock {
     position: relative;
     top: 1em;
     background-color: #269A7E;
     width: 4%;
     border-radius: 20px;
     text-align: center;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 5%;
 }

 .p-hour {
     position: relative;
     top: 1em;
     color: white;
 }

 .div-form {
     position: relative;
     border-radius: 2rem;
     background-color: white;
     display: flex;
     width: 25%;
     justify-content: center;
     z-index: 1;
     bottom: 34rem;
     width: 40%;
     /* padding: 1rem; */
     height: 14rem;
     left: -5rem;
     align-items: center;
 }

 .div-for-parent {
     display: flex;
     justify-content: end;

 }

 .apoit {
     /* display: flex; */
     position: relative;
     top: -40px;
     border-radius: 20px;



 }

 #ios-select {
     position: relative;
     right: 90px;
     border-radius: 20px;
 }

 #iod-select {
     position: relative;
     left: 90px;
     border-radius: 20px;
 }

 .rev {
     position: relative;
     bottom: -40px
 }

 #time {
     position: relative;
     left: 90px;
     border-radius: 20px;
 }

 #date {
     position: relative;
     right: 90px;
     border-radius: 20px;
 }

 .butt-on4 {
     position: relative;
     top: 50px;
     border-radius: 20px;
     left: 15px;
     width: 100%;
     justify-content: center;
     border: none;
     background-color: #FF6F61;
     color: white;
     padding: 20px;


 }

 .blick {
     position: relative;
     top: 10px;
     left: -4em;
     padding: 4rem;
     padding-right: -34em;
 }


 .do-se {
     border: 2px solid #5ee088;
     width: 151px;
     left: 384px;
     text-align: center;
     color: white;
     border-radius: 20px 0px 20px 20px;
     background-color: #5ee088;
     bottom: 20px;
     position: relative;
     bottom: 166px;
     height: 53px;
 }


 .play-btn {
     position: relative;
     left: -21px;
     bottom: -7px;
     width: 53px;
 }

 .bil-d {
     position: relative;
     top: 23px;
     left: 180px;
     width: 78%;
 }

 .bil-d2 {
     position: relative;
     top: 50px;
     left: 180px;
     width: 60%;
 }


 .about-us {
     display: flex;
     justify-content: center;
     justify-content: space-evenly;
     margin-right: 0;
     margin-left: 0;
     background-image: url("/clinik-V2/images/about.png");
     margin-left: 20px;
 }

 .div0 {
     display: inline-block;
     margin-left: 20%;
 }


 .Abou-t {
     position: relative;
     background-color: #5ee088;
     color: white;
     left: 0%;
     width: fit-content;
     padding: 5px;
     border-radius: 20px 20px 0px 20px;

 }

 .Abo-ut {

     position: relative;
     background-color: #5ee088;
     color: white;
     width: fit-content;
     padding: 5px;
     border-radius: 20px 20px 0px 20px;

 }

 .m-are {
     color: #3498DB;
 }



 .IMG {
     display: flex;
 }

 .IMG-1 {
     position: relative;
     top: 1em;
     left: -12px;
     border: 2px solid green;
     border-radius: 50%;
     padding: 2px;
 }

 .IMG-2 {
     position: relative;
     top: 1em;
     left: -5px;
     padding: 2px;
 }

 .p-lorem {
     border: 1px solid black;
     width: 70%;
     padding: 4px;
 }

 .butt-on2 {
     top: 10px;
     border-radius: 20px;
     left: 15px;
     width: 30%;
     border: none;
     background-color: #FF6F61;
     color: white;
     text-align: center;
     padding: 4px;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 10px;
 }


 .vice {
     display: flex;
     color: #3498DB;
 }

 .im-age {
     width: 81px;
 }

 .remarque {
     position: relative;

     color: #3498DB;
 }

 .rem-aque {
     position: relative;
     ;
     color: black;
 }

 .h1-p {
     position: relative;
     justify-content: space-evenly;
     display: flex;
 }

 .span {
     position: relative;
     display: flex;
     gap: 615px;
 }

 .ser-Vices {
     background-image: url("/clinik-V2/images/about.png");
     /* padding: 130px 120px; */
     /* margin-left: 100px; */
     /* margin-right: 20px; */
     /* margin-right: 20px; */
 }

 .br-ns {
     position: relative;
     left: 10%;
 }

 .pa-ra {
     position: relative;
     right: 10%;
 }

 .serv-ices,
 .serv-es {
     position: relative;
     justify-content: space-evenly;
     display: flex;
     gap: 2rem;
     width: 25px;
     left: 40px;
 }

 .dental {
     position: relative;
     border: 2px solid white;
     border-radius: 15px;
     background-color: white;
     margin-top: 20px;
 }

 .our-service {
     justify-content: center;
     /* display: flex; */
     /* justify-content: space-evenly; */

     /* width: 45px; */
 }

 .but {
     background-color: #ffff;
     border-radius: 20px;
     color: #FF6F61;
     display: flex;
     align-items: center;
     padding: 5px;
     margin-left: 130px;
     width: 50%;
     justify-content: center;
     gap: 15%;
     border: none;
     font-size: small;
 }

 .paragraph {
     color: #3498DB;
 }

 /* .im-g, .paragraph, .para-graph{
    position: absolute;
    left: 10px;
} */
 .logoo {
     width: 172px;
     height: 172px;
     padding-right: 20px;

 }

 .footer {
     display: grid;
     grid-template-columns: repeat(4, 25%);
     /* justify-content: space-evenly; */
 }




 .foo-ter {
     margin-left: 300px;
 }

 .f-ooter {
     margin-left: 189px;
 }

 .f-ooter2 {
     margin-left: 80px;
 }

 .inder-footer {
     text-decoration: none;
     color: #3498DB white;
     display: flex;
     bottom: 600px;
 }

 #em-ail {
     border: 1px solid #3498DB;
     border-radius: 20px;
 }

 #ba-s {
     color: #969696;
     width: 200px;
 }

 #sub {
     border: 1px solid #3498DB;
     border-radius: 20px;
     background: transparent;
     /* width: ; */
 }

 footer {
     padding-left: 120px;
     padding-right: 120px;
     padding-top: 70px;
     padding-bottom: 100px;
 }

 .email-address {
     position: relative;


 }


 .par-footer {
     display: flex;
     flex-direction: column;
     row-gap: 45px;
 }

 .brands {
     display: flex;
     gap: 14px;
 }

 .brands {
     color: #3498DB;
 }

 .butt-on5 {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background: #FF6F61;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

 }

.center-div {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100px; 
}
 
.icon-circle {
  background: white;
  color: #f44a01; 
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-background {
    background-color: hsl(249, 86%, 36%);
    border: #E3FAFF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

 .but {
     background-color: #ffffff;
     border-radius: 20px #ff6f61;
     color: #FF6F61;
     display: flex;
     align-items: center;
     padding: 5px;
     margin-left: 71px;
     justify-content: space-evenly;
     gap: 15%;
     border: none;
     font-size: small;
 }

 .A-B-C {
     padding-right: 200px;


 }

 .parent-services {
     position: relative;
     right: -60px;
 }

 .doc-tor {
     display: grid;
     grid-template-columns: repeat(4, 25%);
     justify-content: space-evenly;
     right: -60px;
 }

 .doc-or1 {
     display: grid;
     grid-template-columns: repeat(4, 25%);
     justify-content: space-evenly;
     right: -60px;
 }

 .our-doctors {
     width: 100%;
     display: inline-block;
     justify-content: center;
     text-align: center;
 }

 .doc-tor {
     /* border: 1px solid black; */
     display: flex;
     justify-content: space-evenly;
     left: 20px;
     padding-left: 20px;
 }

 .doc-or1 {
     /* border: 1px solid black; */
     display: flex;
     justify-content: space-evenly;
     left: 20px;
     padding-left: 20px;
 }

 .oc-photo {
     background-image: url("/clinik-V2/images/Card.png");
     position: relative;
     /* border: 2px solid white; */
     /* border-radius: 15px; */
     background-color: white;
     margin-top: 20px;
 }

 .div-doct {
     /* color: #3498DB; */
     padding-left: 20px;
     margin-left: 50px;
 }

 .paragraph,
 .doc-t {
     color: #3498DB;
 }

 .pa-ra-graph {
     color: #FF6F61;
 }

 .butt-on3 {

     border-radius: 20px;
     width: 21%;
     border: none;
     background-color: #FF6F61;
     color: white;
     text-align: center;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 10px;
     position: relative;
     padding-left: 30px;
     padding-right: 20px;
     padding-top: 8px;
     padding-bottom: 8px;
     left: 42%;



 }

 .mit-tel {
     position: relative;
     padding: 20px;
     width: 80%;
     margin-left: 20px;
     display: block;
     width: 80%;
     height: auto;
     margin-left: 70px;
     top: 0px;

 }

 .d-i-v {
     position: relative;
     display: inline-block;
 }



 .text-over {
     position: absolute;
     top: 15%;
     left: 135px;
     z-index: 10;
     max-width: 80%;
 }

 .text-over {
     margin: 0 0 10px 0;
     color: white;
 }

 /* .text-over p {
    margin: 0 0 20px 0;
} */

 .text-over button.now {
     display: flex;
     align-items: center;
     gap: 10px;
 }

 .now {
     background-color: #E3FAFF;
     border: 1px solid black;
     border-radius: 20px;
     color: #2677BC;
     position: relative;
     padding-left: 30px;
     padding-right: 20px;
     padding-top: 8px;
     padding-bottom: 8px;
 }

 .prend-rende-vous {
     background-image: url(/clinik-V2/images/background1.png);
     position: relative;
     padding-inline: 300px;
     padding-block: 17px;
     display: flex;
     justify-content: center;
 }


 .back-ground {
     background-image: url("/clinik-V2/images/rende-vous-background.png");
     width: 50%;
     display: flex;
     justify-content: center;
     padding-inline: 300px;
     padding-block: 17px;
     margin-top: 30px;
     border-radius: 20px;
     /* position: relative;
    left: -8rem; */



 }

 #ren-de {
     display: flex;
     border: 1px solid black;
     border-radius: 20px;
     width: 215px;
     height: 54px;
     justify-content: center;
     color: white;
     background-color: #5ee088;
 }

 #your {
     color: #3498DB;
     border: 1px solid black;
     width: 120%;
     border: none;
 }

 .nom-email,
 .date-time {
     display: grid;
     grid-template-columns: repeat(2, 50%);
     gap: 20px;

 }

 #userName {
     color: black;
 }

 #userName,
 #userDate,
 #userTime,
 #userEmail {
     border: 1px solid black;
     border-radius: 20px;
     width: 275px;
     height: 35px;
     padding-block: 16px;
     padding-inline: 24px;
     margin-top: 30px;
 }

 #userDescription {
     display: flex;
     border: 1px solid black;
     border-radius: 20px;
     height: 140px;
     width: 706px;
     padding: 17px;
     margin-top: 30px;

 }

 .send {
     display: flex;
     border: 1px solid black;
     border-radius: 20px;
     background-color: #FF6F61;
     color: white;
     justify-content: center;
     width: 706px;
     padding-block: 17px;
     margin-top: 30px;

 }

 #pricing {
     display: flex;
     border: 1px solid black;
     border-radius: 20px 20px 0px 20px;
     width: 105px;
     height: 48px;
     margin-left: 100px;
     justify-content: center;
     color: white;
     background-color: #5ee088;

 }

 #pick {
     display: flex;
     margin-left: 100px;
     color: #3498DB;
 }

 .pri-cing {
     display: flex;
     justify-content: space-between;


 }

 #p-lorem {
     width: 33%;
     margin-top: 42px;
     margin-right: 10rem;
 }

 #joi-n {
     color: #2677BC;
     padding-left: 3rem;
 }

 #par-lorem {
     display: flex;
     margin-right: 8rem;
     justify-content: flex-start;
 }

 .div-parent {
     display: flex;
     justify-content: space-around;
 }

 .room-card {
     border: 2px solid black;
     width: 28%;
 }

 .reco {
     font-size: large;
     position: relative;
     top: -7px;
 }


 .lorem {
     padding-left: 3em;
 }

 .person {
    color: black;
    font-size: small;
    font-family: "system-ui";
    
 }


 .prix {
     color: #3498DB;
     padding-left: 44px;
 }
 .feature{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-left: 10%;
 }
 .features{
    color: #3498DB;
    font-size: large;
    margin-left: 5%;
 }
 .beseid{
    color: #5B5B5B;
 }
 .fa-solid{
color: #5ee088; 
}
#M-o-re{
    border: 1px solid #FF6F61;
    border-radius: 40px;
    color: #FF6F61;
    background-color: white;
    /* position: relative; */
    /* align-items: center; */
     width: 40vh;
     padding-block: 17px;
     margin-top: 30px;
    padding-left: 40px;
}

#M-o-r{
    border: 1px solid #FF6F61;
    border-radius: 40px;
    color: white;
    background-color: #FF6F61;
    display: flex;
    /* justify-content: center; */
    left: 10rem;
    width: 40vh;
    padding-block: 17px;
     margin-top: 30px;
    padding-left: 70px;
    top: 10px;

}
.room-actions{
    /* display: block; */
    display: grid;
   place-items: center;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    /* top: 0%;
    left: 0%; */
    text-align: center;
     bottom: 8px;
   
}
#o-r{
    color: #969696;

}

